survey css
form{
	margin-left: 600px;
	position: static;

}
p{
	margin-left: 300px;
	position: static;
}
div{
	margin-left: 600px;
}
.survey{
	border-left

google css
}
a{
	text-decoration: none
}
nav{
	float: right;
	padding: 10px;
	padding-right: 10px;
}
img{
	margin-left: 600px;
	margin-top: 300px;
}
form{
	margin-left: 500px;
	padding: 10px;
}
input{
	width: 400px;
	
}